{% extends 'basketapp/base.html' %}
{% load static %}

{% block content %}
    <div class="basket_list">
        {% include 'basketapp/includes/inc_basket_list.html' %}
    </div>
    <div class="basket_buttons">
        <button class="btn btn-round btn-s13f">
            <a href="{% url 'products:products' %}">к продуктам</a>
        </button>

        <button class="btn btn-round btn-s13f">
            <a href="{% url 'main' %}">на главную</a>
        </button>
    </div>
{% endblock content %}