<ul class="links-menu">
    <li>
        <a href="{% url 'products:category' 0 %}"
            {% if request.resolver_match.kwargs.pk == 0 %}class="active"{% endif %}>
            все
        </a>
    </li>
    {% for link_item in links_menu %}
        <li>
            <a href="{% url 'products:category' link_item.pk %}"
                {% if request.resolver_match.kwargs.pk|add:'0' == link_item.pk and not 'product' in request.resolver_match.url_name %}class="active"{% endif %}>
                {{ link_item.name }}
            </a>
        </li>
    {% endfor %}
</ul>